<?xml version="1.0"?>
<config>
    <modules>
        <Kloc_Import>
            <version>0.1.0</version>
        </Kloc_Import>
    </modules>
    <frontend>
        <routers>
            <import>
                <use>standard</use>
                <args>
                    <module>Kloc_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
        <layout>
            <updates>
                <import>
                    <file>import.xml</file>
                </import>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<import>
				<use>admin</use>
				<args>
					<module>Kloc_Import</module>
					<frontName>import</frontName>
				</args>
			</import>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<import module="import">
                <title>KLOC</title>
                <sort_order>71</sort_order>               
                <children>
                    <product module="import">
                        <title>Import Product</title>
                        <sort_order>20</sort_order>
                        <action>import/adminhtml_import/product</action>
                    </product>
                    <images module="import">
                        <title>Import Product Images</title>
                        <sort_order>30</sort_order>
                        <action>import/adminhtml_import/media</action>
                    </images>
                    <relatedproduct module="import">
                        <title>Import Related Product</title>
                        <sort_order>40</sort_order>
                        <action>import/adminhtml_import/relatedproduct</action>
                    </relatedproduct>
                </children>
            </import>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Kloc_Import>
							<title>Import Module</title>
							<sort_order>10</sort_order>
						</Kloc_Import>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<import>
					<file>import.xml</file>
				</import>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <import>
                <class>Kloc_Import_Model</class>
                <resourceModel>import_mysql4</resourceModel>
            </import>
            <import_mysql4>
                <class>Kloc_Import_Model_Mysql4</class>
                <entities>
                    <import>
                        <table>import</table>
                    </import>
                </entities>
            </import_mysql4>
        </models>
        <resources>
            <import_setup>
                <setup>
                    <module>Kloc_Import</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </import_setup>
            <import_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </import_write>
            <import_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </import_read>
        </resources>
        <blocks>
            <import>
                <class>Kloc_Import_Block</class>
            </import>
        </blocks>
        <helpers>
            <import>
                <class>Kloc_Import_Helper</class>
            </import>
        </helpers>
    </global>
</config>
