<?xml version="1.0"?>
<config>
    <modules>
        <Sankhalainfo_Customshipping>
            <version>0.1.0</version>
        </Sankhalainfo_Customshipping>
    </modules>
    <frontend>
        <routers>
            <customshipping>
                <use>standard</use>
                <args>
                    <module>Sankhalainfo_Customshipping</module>
                    <frontName>customshipping</frontName>
                </args>
            </customshipping>
        </routers>
        <layout>
            <updates>
                <customshipping>
                    <file>customshipping.xml</file>
                </customshipping>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customshipping>
				<use>admin</use>
				<args>
					<module>Sankhalainfo_Customshipping</module>
					<frontName>customshipping</frontName>
				</args>
			</customshipping>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<import module="customshipping">
				<title>Nova</title>
				<sort_order>71</sort_order>               
				<children>
					<customshipping module="customshipping">
						<title>Manage Shipping Rate</title>
						<sort_order>50</sort_order>
						<action>customshipping/adminhtml_customshipping</action>
					</customshipping>
				</children>
			</import>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sankhalainfo_Customshipping>
							<title>Customshipping Module</title>
							<sort_order>10</sort_order>
						</Sankhalainfo_Customshipping>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customshipping>
					<file>customshipping.xml</file>
				</customshipping>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customshipping>
                <class>Sankhalainfo_Customshipping_Model</class>
                <resourceModel>customshipping_mysql4</resourceModel>
            </customshipping>
            <customshipping_mysql4>
                <class>Sankhalainfo_Customshipping_Model_Mysql4</class>
                <entities>
                    <customshipping>
                        <table>customshipping</table>
                    </customshipping>
                </entities>
            </customshipping_mysql4>
        </models>
        <resources>
            <customshipping_setup>
                <setup>
                    <module>Sankhalainfo_Customshipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customshipping_setup>
            <customshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customshipping_write>
            <customshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customshipping_read>
        </resources>
        <blocks>
            <customshipping>
                <class>Sankhalainfo_Customshipping_Block</class>
            </customshipping>
        </blocks>
        <helpers>
            <customshipping>
                <class>Sankhalainfo_Customshipping_Helper</class>
            </customshipping>
        </helpers>
    </global>
    <default> 
        <carriers>
            <customshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>customshipping/carrier_customshipping</model>
                <name>Custom Shipping</name>
                <extra_person_charge>75</extra_person_charge>
                <title>Custom Shipping</title> 
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sort_order>500</sort_order> 
            </customshipping> 
        </carriers>
    </default>
</config>
